/* public/css/style.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.gradient-bg {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
